<!DOCTYPE html PUBLIC html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>たかさん支援隊</title>

    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="icon.png">

    <script src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&amp;version=v2.8"></script>
  </head>
  <body style="background: #89E6E6; margin: auto">
    <div class="container" style="background: #fefefe; margin: auto; max-width: 750px; ">
      <header>
        <h1>たかさん支援隊</h1>
        <h2>since 2009</h2>
      </header>

      <main>
        <p>2013年までの情報です。最新情報は、たかさん支援隊のFacebookページでご覧ください！！</p>
        <div style="text-align: center">
          <div class="fb-page" data-href="https://www.facebook.com/taka3sh" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/taka3sh" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/taka3sh">たかさん支援隊</a></blockquote>
          </div>
        </div>
        <div>
          <a href="http://www.suginami-school.ed.jp/takaido3shou/"><img src="taka3shou.png" alt="高三小ホームページ" /></a>
          <a href="http://takasanpta.rejec.net/"><img src="takasanpta.png" alt="高三小PTAのページ" /></a>
        </div>
      </main>

      <footer style="background: #008000; color: white">
        <p>
          <img src="banner.png" alt="たかさん支援隊バナー" />
          Copyright (c) 2010 たかさん支援隊. All rights reserved.
        </p>
        <p>
          ※当ホームページの個人情報の取り扱いは、高三小ホームページと同様とします。
        </p>
      </footer>
    </div>
  </body>
</html>