<!DOCTYPE html PUBLIC html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>たかさん支援隊</title>

    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="icon.png">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="page-box">
      <div id="header">
        <div class="logo1"><img alt="たかさんしえんたい" src="image/headerlogo1.png" /></div>
        <div class="logo2"><img alt="たかさんしえんたい" src="image/headerlogo2.png" /></div>
      </div>
      <div id="content">
        <div id="topicmenu">
          <a href="profile/index.html"><span class="logo">Profile</span><span class="desc">たかさん支援隊のこと</span></a>
          <!--<a href="gallery/index.html"><span class="logo">Gallery</span><span class="desc">活動アルバム</span></a>-->
          <a href="message/index.html"><span class="logo">Message</span><span class="desc">おたより・コヨミ</span></a>
          <a href="feature/index.html"><span class="logo">Feature</span><span class="desc">関連団体・協力者紹介</span></a>
          <!--<a href="journal/index.html"><span class="logo">Journal</span><span class="desc">たかさんToday</span></a>-->
          <div style="width: 315px">
            <p style="width: 265px; padding: 25px">2013年までの情報です。最新情報は、たかさん支援隊のFacebookページでご覧ください！！</p>
            <div class="fb-page" data-href="https://www.facebook.com/taka3sh" data-tabs="timeline" data-width="315" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
              <blockquote cite="https://www.facebook.com/taka3sh" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/taka3sh">たかさん支援隊</a></blockquote>
            </div>
          </div>
        </div>
        <div style="clear:both;text-align: right;margin: 1ex 1em;">
          <a href="http://www.suginami-school.ed.jp/takaido3shou/"><img src="index/taka3shou.png" alt="高三小ホームページ" /></a>
          <a href="http://takasanpta.rejec.net/"><img src="index/takasanpta.png" alt="高三小PTAのページ" /></a>
        </div>
      </div>
      <div id="footer">
        <p>
          <img src="image/banner.png" alt="たかさん支援隊バナー" />
          Copyright (c) 2010 たかさん支援隊. All rights reserved.
        </p>
        <p>
          ※当ホームページの個人情報の取り扱いは、高三小ホームページと同様とします。
        </p>
      </div>
    </div>
  </body>
</html>