@charset "UTF-8";

/* Basic Structure */
html {
  background-image: url(../image/wallpaper.png);
  background-repeat: repeat-x;
  background-color: #89E6E6;
}

body {
  text-align: center;
}

body * {
  text-align: left;
}

body center {
  text-align: center;
}

#page-box {
  overflow: hidden;
  width: 750px;

  position:relative;
  margin: auto;
  padding: 0;
  background-color: white;
}

#header {
  background: url(../image/edge-tl.png) top left no-repeat #FFF;
}

#header .logo1 {
  padding-top: 10px;
  background: url(../image/edge-tr.png) top right no-repeat #FFF;
  
  text-align: left;
  margin-left: 70px;
}

#header .logo2 {
  text-align: right;
  margin-right: 20px;
}

#content p {
  margin-right: 15px;
}

#topicmenu {
  float: left;
}

#topicmenu a {
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  padding: 5px;
  display: block;
  line-height: 31px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#topicmenu a:hover {
  background-color: #AAEE88;
}

#topicmenu a .logo {
  float: left;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: transparent;
  background-image: url(../image/button.gif);
  display: block;
  width: 84px;
}


#flash {
  float: left;
  width: 340px;
}

/* chapter top */

.chapter-header {
  margin-top: 0;
  width: 90%;
  background-color: #AADDFF;
  background-image: url(../image/ribbon.png);
  padding-left: 20px;
}

.chapter-header span {
  display: block;
  background-image: inherit;
  background-position: right top;
  line-height: 75px;
}

/* #searhbar */
#searchbar {
  position: absolute;
  top: 10px;
  right: 30px;
}

/* #topmenu */
#topmenu {
  padding-left: 10px;
  line-height: 31px;
}

#topmenu dt {
  margin: 0;
  margin-right: 10px;
  float: left;
  list-style-type: none;
}

#topmenu.js dt {
  margin-right: 10px;
}

#topmenu dd {
  margin: 0;
  margin-right: 1em;
  float: left;
}

#topmenu.js dd {
  display: none;
}

div#topmenu-desc {
  display: none;
  clear: both;
}

div#topmenu-desc.js {
  display: block;
  margin-left: 10px;
}

#topmenu a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: transparent;
  background-image: url(../image/button.gif);
  display: block;
  width: 84px;
}

#footer {
  color: white;
  clear: both;
  padding: 10px 0 0 10px;
  position: relative;
  
  background: url(../image/edge-bl.png) bottom left no-repeat #008000;
}

#footer p {
  margin: 0 0 10px 0;
  padding: 0;
}

#footer .counter {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#footer .w3c-logos {
  margin-left: 40px;
  margin-top: 1ex;
  padding-bottom: 10px;

  background: url(../image/edge-br.png) bottom right no-repeat #008000;
}
